*{
  margin:0;
  padding:0;
  font-family: 'DM Sans';
}
.world{
  width:100%;
  height:685px;
}
.header{
  width:100%;
  height:140px;
  background-color: #292929;
}
.logo{
  position: relative;
  width: 193px;
  height: 60px;
  left: 77px;
  top: 40px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding-top:15px;
  font-size: 24px;
  color:#FFFFFF;
}
.hero{
  position: absolute;
  width: 100%;
  height: 550px;
  left: 0px;
  top: 138px;
  background-image: url(cinema.png);
}
.title{
  position: absolute;
  width: 490px;
  height: 282px;
  left: 77px;
  top: 100px; 
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.body{
  width:100%;
  height:160vh;
}
.search{
  width: 90%;
  height: 90px;
  margin-left: 73px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.searchBox{
  width:100%;
  height:54px;
  top: 35px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.boxName {
  position: relative;
  width: 90%;
  height: 350px;
  left: 73px;
  top: 50px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.boxName2{
  position: relative;
  width: 90%;
  height: 350px;
  left: 73px;
  top: 100px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  
}
.boxName .box,
.boxName2 .box2{
  position:static;
  height: 330px;
  width:100%;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  display: flex;
  overflow-x:scroll;
  overflow-y:hidden;
}
.boxName .box1,
.boxName2 .box1{
  position: static;
  flex-shrink: 0;
  width: 280px;
  height: 280px;
  margin-right: 10px;
  margin-top: 10px;
  background: #000000;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  
}

@media (max-width:834px){
  .world{
    width:100%;
    height:685px;
  }
  .header{
    width:100%;
    height:140px;
    top:0;
    left:0;
    background-color: #292929;
  }
  .logo{
    top: 40px;
  }
  .hero{
    width: 100%;
  }
  .title{
    width: 350px;
    height: 282px; 
    top: 100px; 
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
  }
  .body{
    width:100%;
    height:135vh;
    margin-right: 0;
  }
  .search{
    width: 90%;
    height: 70px;
    margin-left: 30px;
    font-size: 22px;
    margin-top:25px;
  }
  .searchBox{
    width: 100%;
    height: 40px;
    left: 0px;
    top: 25px;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .boxName{
    height:50vh;
    margin-left: -43px;
  }
  .boxName2{
    height:50vh;
    margin-top: -40px;
    margin-left: -43px;
  }
.boxName .box,
.boxName2 .box2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  height: 250px;
  width:100%;
  left:0px;
  top: 0px;
  overflow-x:scroll;
  overflow-y:hidden;
  border-radius: 12px;
}
.boxName .box .box1,
.boxName2 .box2 .box1{
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left:15px;
  padding-right:15px;
  font-size: 22px;
  }
}
@media (max-width: 444px){
  .world{
    width:100%;
    height:570px;
  }
  .header{
    width:100%;
    height:67px;
  }
  .hero{
    margin-top: -75px;
    width: 100%;
    height:500px;
  }
  .logo{
    width: 100px;
    height: 40px;
    left: 10px;
    top: 10px;
    padding-top:8px;
    font-size: 18px;
  }
  .title{
    text-align: left;
    width: 290px;
    height: 210px; 
    top: 100px; 
    left:10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
  }
  .body{
    width:100%;
    height:105vh;
    margin-right: 0;
  }
  .search{
    width:95%;
    margin-left: 10px;
    font-size: 20px;
  }
  .searchBox{
    width: 100%;
    height: 34px;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .boxName{
    width:95%;
    height:35vh;
    margin-left: -63px;
    top:40px;
    font-size: 20px;
  }
  .boxName2{
    font-size: 20px;
    width:95%;
    height:35vh;
    margin-top: -40px;
    margin-left: -63px;
  }
  .boxName .box,
  .boxName2 .box2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  overflow-x:scroll;
  overflow-y:hidden;
  height: 170px;
  width:100%;
  left: 0px;
  top: 0px;
  border-radius: 12px;
}
.boxName .box .box1,
.boxName2 .box2 .box1{
  position: relative;
  width: 150px;
  height: 130px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left:25px;
  padding-right:25px;
  font-size: 20px;
  }
  
} 
@media (max-width: 320px){
  .title{
    text-align: left;
    width: 240px;
    height: 210px; 
    top: 100px; 
    left:10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }
}
